//Fluid typography

$scale: 1.618

=h6
    font-size: 1rem / $scale
    font-size: clamp(12px, 1rem / $scale, 16px)

=h5
    font-size: 1rem

=h4
    font-size: 1rem * $scale

=h3
    font-size: 1rem * $scale * $scale

=h2
    font-size: 1rem * $scale * $scale * $scale

=h1
    font-size: 1rem * $scale * $scale * $scale * $scale
