@import 'theme'
@import 'reset'

// ┌─┐┌─┐┌┐┌┌─┐┬─┐┌─┐┬
// │ ┬├┤ │││├┤ ├┬┘├─┤│
// └─┘└─┘┘└┘└─┘┴└─┴ ┴┴─┘

*
	margin: 0
	padding: 0
	box-sizing: border-box
	-ms-overflow-style: none
	scrollbar-width: none

*::-webkit-scrollbar
	width: 0px
	background: rgba(255, 255, 255, 0)

input:focus, button:focus, select:focus
	outline: none

//preconf typo [rem]

\:root
	font-size: calc(50% + 0.45vw)

html
	line-height: 1.15
	-webkit-text-size-adjust: 100%

body
	width: 100%
	min-height: 100vh
	height: 100%
	font-family: "Karla"
	-webkit-font-smoothing: antialiased
	color: $prim
	background-color: $marine

/* Images et SVG */
img
	user-select: none
	-ms-user-select: none
	-moz-user-select: none
	-webkit-user-select: none

svg
	width: calc(100% - 1px)
	height: calc(100% - 1px)

// ┌┬┐┬ ┬┌─┐┌─┐┌─┐
//  │ └┬┘├─┘│ │└─┐
//  ┴  ┴ ┴  └─┘└─┘

h1
	+h1
h2
	+h2
h3
	+h3
h4
	+h4
h5,p
	+h5
h6
	+h6

// icons

i
	font-style: normal

	&.cross
		&::before
			content: "✕"

// ┬  ┬┌┐┌┬┌─┌─┐
// │  ││││├┴┐└─┐
// ┴─┘┴┘└┘┴ ┴└─┘

a
	+link-alike

	&.notif-link
		font-weight: bold
		text-decoration: underline

// ┌┐ ┌─┐┬ ┬┌┬┐┌─┐┌┐┌┌─┐
// ├┴┐│ ││ │ │ │ ││││└─┐
// └─┘└─┘└─┘ ┴ └─┘┘└┘└─┘

button
	padding: 0.8rem 1.5rem
	cursor: pointer

	/* -- "WHITE" (grey) -- */
	&.w-outlined-btn, &.w-filled-btn, &.w-link // p-e bouger les pptés dans bhs/index si autre besoin
		padding: 0.5rem 1rem
		font-size: 90%
	// outlined
	&.w-outlined-btn
		+btn(transparent, $grey-xl, $m-rad, $grey-xl)
		&:hover
			+btn($grey-xl, $marine, $m-rad)
		&.focus, &.active
			+btn($grey-d, $white, $m-rad, $grey-d)
	// filled
	&.w-filled-btn
		+btn($grey-xl, $marine, $m-rad)
		&:hover
			+btn(transparent, $grey-xl, $m-rad, $grey-xl)
		&.focus, &.active
			+btn($grey, $marine, $m-rad)
	// link-alike
	&.w-link
		+link-alike

	/* -- PRIMARY -- */
	// outlined
	&.p-outlined-btn
		+btn(transparent, $prim, $m-rad, $prim)
		&:hover
			+btn($prim, $white, $m-rad)
		&.focus, &.active
			+btn($p-l, $white, $m-rad, $prim)
	// filled
	&.p-filled-btn
		+btn($prim, $white, $m-rad)
		&:hover
			+btn(transparent, $prim, $m-rad, $prim)
		&.focus, &.active
			+btn($p-l, $white, $m-rad)

	/* -- sec -- */
	// outlined
	&.s-outlined-btn
		+btn(transparent, $sec, $m-rad, $sec)
		&:hover
			+btn($sec, $white, $m-rad)
		&.focus, &.active
			+btn($s-l, $white, $m-rad, $sec)
	// filled
	&.s-filled-btn
		+btn($sec, $white, $m-rad)
		&:hover
			+btn(transparent, $sec, $m-rad, $sec)
		&.focus, &.active
			+btn($s-l, $white, $m-rad)

	/* -- TERTIARY -- */
	// outlined
	&.t-outlined-btn
		+btn(transparent, $ter, $m-rad, $ter)
		&:hover
			+btn($ter, $white, $m-rad)
		&.focus, &.active
			+btn($t-l, $white, $m-rad, $ter)
	// filled
	&.t-filled-btn
		+btn($ter, $white, $m-rad)
		&:hover
			+btn(transparent, $ter, $m-rad, $ter)
		&.focus, &.active
			+btn($t-l, $white, $m-rad)

.circle
	+circle
